<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>РК Легион</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link href="/styles/fotorama.css" rel="stylesheet">
		<link href="/styles/bootstrap-slider.css" rel="stylesheet">
    <link href="/styles/modern-business.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		{{!-- This file provides the default styling for the KeystoneJS Content Editor 
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		
		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />-->
			<!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />-->
		
		<![endif]-->
		{{!--
    //- jQuery 1.11.1 is included by default, and required by both Bootstrap
    //- and the KeystoneJS Content Editor. If you are not targeting IE8,
    //- you can upgrade to 2.1.1 (also bundled) for better performance.
  --}}
      <script src="/js/lib/jquery/jquery-2.1.1.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.2.0.min.js
		--}}
      <script src="/js/lib/bootstrap/bootstrap-3.2.0.min.js"></script>
      <script src="/js/lib/fotorama.js"></script>
      <script src="/js/lib/bootstrap-slider.min.js"></script>
      <script src="/js/lib/lodash.min.js"></script>
	</head>
	<body data-spy="scroll" data-target="#sidenav">
		<div id="header" style="margin-top: 0px">
			<div class="container">
				<div role="navigation" class="navbar navbar-inverse navbar-static-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand"><img alt="РК Легион" src="/images/yellow_logo.png"></a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
									{{# each navLinks}}
									  {{#if dropdown}}
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          {{topLabel}} <span class="caret"></span>
                        </a>
												<ul class="dropdown-menu" role="menu">
													{{#each dropdown}}
														<li><a href="{{href}}"><b>{{label}}</b></a></li>
													{{/each}}		
												</ul>
											</li>
									  {{/if}}
										{{#ifeq ../section key}}<li class="active">{{else}}<li>{{/ifeq}}
										{{# unless dropdown}}
                      <a href="{{ href }}"><b>{{ label }}</b></a>
										{{/unless}}
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<footer>
      <div class="container">
        <div class="row"> 
          <div class="col-md-12">
            © 2011...2015 Рекламная компания «Легион»<br>
            390009, Рязань, Есенина 9, +7 (4912) 24-08-55.<br>
            <a href="mailto:legion-reklama@yandex.ru">legion-reklama@yandex.ru</a><br/>
            {{#if user}}
            <a href="/keystone/signout"><span class="label label-danger hidden-xs">выход</span></a>
            <a href="/keystone"><span class="label label-primary hidden-xs">управление</span></a>
            {{else}}
            <a href="/keystone/signin"><span class="label label-primary hidden-xs">вход</span></a>
            {{/if}}
          </div>
        </div>
      </div>
		</footer>
		{{{isAdminEditorJS user}}}
	</body>
</html>
