<style>
	.slider-selection {
		background: #0091d9;
	}
</style>
<div class="container">
  <h1>Калькулятор</h1>
</div>
<div class="container">
	{{#each data.calculators}}
		<div class='panel panel-primary'>
			<div class='panel-heading'>
					<div class='panel-title'>
						<h3>{{name}}, <span id="total">цена:</span></h3>
					</div>	
			</div>
			<div class='panel-body'>
        <div class="row">
					<div id='{{name}}' class="col-sm-6 col-md-6 col-xs-12">
						{{# each params}}
              <div class='form-group' style="margin-top: 40px;">
								<label class='control-label' for="slider{{@index}}">{{name}}, {{unit}}</label>
								<input class="slider form-control" id="slider{{@index}}" data-slider-name='{{name}}' type="text" data-slider-min="{{min}}" data-slider-max="{{max}}" data-slider-step="{{dimension}}"  data-slider-value="{{dimension}}"/>
							</div>	
								<div class="col-md-8">
									<input id="input{{@index}}" type='text' class='form-control' value=""/>
								</div>	
						{{/each}}
				</div>
			</div>
		</div>		
	{{/each}}
</div>
<script type='text/javascript'>
  //TO-DO Формулы для калькуляторов от СН
	//TO-DO Сетка дизайна и ТЗ на элементы для иллюстратора (Дмитрия) 
	//TO-DO Запуск на 15 июня 
$(document).ready(function(){
		var formula;
    var _formula;
		
		$('.slider').each(function(){
			$(this).slider({
				formatter: function(value) {
					return value;
        }		
			});
		});
		
		_.each({{{json data.calculators}}}, function(calculator){
			_.each(calculator.atoms, function(atom){
				formula = calculator.formula.replace(atom.name, atom.value);
				_formula = formula;
			});
		});
    
		for (var i = 0; i < 99; i++){
			if ($('#slider'+i)[0]) {
				$('#slider'+i).slider().on('slide', function(e){
					console.log('input'+i);
//					$('#input'+i).setAttribute('value', e.value.toString());
					calc();
				});
			}
		}
		
		function calc(){
			$('input').each(function(){
				formula = formula.replace($(this).data('slider-name'), $(this).val());
			});
			$('#total').text('цена: ' + eval(formula) + ' руб.');
			formula = _formula;
    }
		
  });
</script>
