<div style="background-color: #ffffff; padding-top: 100px">
  <div class="container" style="padding-bottom: 100px">
      <div class="row">
        {{#each clients}}
          {{#each this.logos}}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="padding-bottom: 40px"><img src="{{this.url}}" /></div>
          {{/each}}
        {{/each}}
      </div>
  </div>
</div>
  
