<div class="container">
	<div class="row" style="margin-bottom: 100px">
    <div class="col-md-4">
      <h3>Адреса и телефоны</h3>
      <p>
        390009 Рязань,<br> Есенина 9, оф. 25<br>
      </p>
      <p><abbr title="Телефоны"><i class="fa fa-phone"></i></abbr>
        +7 (4912) 24-08-55, +7 910 571-50-00</p>
      <p><abbr title="Эл. почта"><i class="fa fa-envelope-o"></i></abbr>
        <a href="mailto:legion-reklama@yandex.ru">legion-reklama@yandex.ru</a>
      </p>
      <p><abbr title="Рабочие часы"><i class="fa fa-clock-o"></i></abbr>
        Понедельник...пятница: 8:00...18:00
      </p>
    </div>
    <div class="col-sm-11 col-xs-11 col-md-8">
      <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script>
      <script type="text/javascript">
        var map;
        DG.then(function () {
          map = DG.map('map', {
            center: [54.627629, 39.767572],
            zoom: 17  
          });
          DG.marker([54.6278, 39.767572]).addTo(map).bindPopup('Рязань, Есенина 9, 5 этаж, офис 25');
        });
      </script>
      <div id="map" style="height: 500px; margin-bottom: 200px"></div>
		</div>
	</div>
</div>
