<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="fotorama"
           data-nav="thumbs"
           data-width="100%"
           data-fit="cover"
           data-loop="true"
           data-allowfullscreen="true"
           data-maxheight="75%">
        {{#each galleries}}
          {{#each images}}
            <img src="{{cloudinaryUrl}}">
          {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

