{{!< default}}
<div class="container">
	<div class="row" style="padding-bottom: 40px">
		<div class="col-md-3 col-sm-6">
      <a href="price/billboard"><img class="img-thumb img-responsive img-hover hidden-xs" src="images/circles/1.jpg"></a>
        <a href="price/billboard"><h3>Размещение на щитах</h3></a>
			<p>От 5 000 рублей в месяц! Размещение рекламы на собственных щитах 3х6 метров вдоль трассы М5</p>
		</div>
		<div class="col-md-3 col-sm-6">
      <a href="price/outdoor"><img class="img-thumb img-responsive img-hover hidden-xs" src="images/circles/2.jpg"></a>
        <a href="price/outdoor"><h3>Наружная реклама</h3></a>
			<p>Изготовление и монтаж вывесеок, табличек, входных групп, стендов, экспозиций.</p>
		</div>
		<div class="col-md-3 col-sm-6">
      <a href="price/wide"><img class="img-thumb img-responsive img-hover hidden-xs" src="images/circles/3.jpg"></a>
      <a href="price/wide"><h3>Широкоформатная печать</h3></a>
			<p>Печать плакатов и банеров.</p>
		</div>  
		<div class="col-md-3 col-sm-6">
			<a href="price/quick"><img class="img-thumb img-responsive img-hover hidden-xs" src="images/circles/4.jpg"></a>
      <a href="price/quick"><h3>Оперативная полиграфия</h3></a>
			<p>Печать листовок, буклетов, визиток, плакатов.</p>
		</div>
	</div>
</div>
<div class="container hidden-xs">
  <div class="row">
    <div class="col-md-12">
      <div class="fotorama"
           data-width="100%"
           data-ratio="16/9"
           data-fit="contain"
           data-loop="true"
           data-nav="false"
           data-arrows="false"
           data-autoplay="true"
           data-shadows="true"
           style="margin-top:-30px; margin-bottom:30px">
        <img src="/images/slides/1.jpg">
        <img src="/images/slides/2.jpg">
        <img src="/images/slides/3.jpg">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="padding-bottom: 30px">
    <div class="col-sm-8">
      <h3>Рекламная компания Легион</h3>
      <p>Рекламная компания «Легион» успешно работает на рынке наружной рекламы 17 лет.</p>
      <p>Компания имеет в своем арсенале современное оборудование для производства всех видов рекламы (вывесок, световых букв и коробов, информационных стендов, баннеров и многого другого). Также имеется оборудование для малотиражной оперативной полиграфии (визитки, листовки, буклеты).</p>
      <p>Коллектив компании стабилен на протяжении многих лет. В компании работают креативные дизайнеры, опытные менеджеры и специалисты по изготовлению и монтажу рекламы. Каждый проект контролируется лично руководителем компании.</p>
    </div>
    <div class="col-sm-4">
      <h3>Как связаться</h3>
      <p>
        390009, Рязань,<br> Есенина 9, оф. 25<br>
      </p>
      <p><abbr title="Телефоны"><i class="fa fa-phone"></i></abbr>
        +7 (4912) 24-08-55, +7 910 571-50-00</p>
      <p><abbr title="Эл. почта"><i class="fa fa-envelope-o"></i></abbr>
        <a href="mailto:legion-reklama@yandex.ru">legion-reklama@yandex.ru</a>
      </p>
      <p><abbr title="Рабочие часы"><i class="fa fa-clock-o"></i></abbr>
        Понедельник...пятница: 8:00...18:00
      </p>
    </div>
  </div>
  <!-- /.row -->
</div>
