<script type="text/javascript">
  $('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 10
  });
  var shiftWindow = function() { scrollBy(0, 0) };
  if (location.hash) shiftWindow();
  window.addEventListener("hashchange", shiftWindow);
</script>

<div class="container" style="margin-top: 50px;">
  <div class="row" {{#ifeq data.types.0.tag 'billboard'}}
       style="margin-bottom: 200px;"
  {{/ifeq}}>
    <div class="col-md-3 hidden-xs col-sm-3" id="sidenav">
      <nav class="bs-docs-sidebar hidden-print hidden-xs" data-toggle="affix" data-spy="affix">
        <ul class="nav nav-stacked fixed">
          {{#ifeq data.types.0.tag 'billboard'}}
          {{else}}  
            {{#each data.types}}  
              <li>
                <a href="#{{name}}">{{name}}</a>
              </li>
            {{/each}}
          {{/ifeq}}  
        </ul>  
      </nav>
    </div>
    <div class="col-md-9 col-sm-9" style="margin-bottom: 100px">
      <div>
        {{#ifeq data.types.0.tag 'billboard'}}
          <a href="outdoor"><h5>&#8617; Наружная реклама</h5></a>
          <a href="wide"><h5>&#8617; Широкоформатная печать</h5></a>
          <a href="quick"><h5>&#8617; Оперативная полиграфия</h5></a>
          <h2>Размещение на щитах</h2>
        {{/ifeq}}
        {{#ifeq data.types.0.tag 'outdoor'}}
          <a href="billboard"><h5>&#8617; Размещение на щитах</h5></a>
          <a href="wide"><h5>&#8617; Широкоформатная печать</h5></a>
          <a href="quick"><h5>&#8617; Оперативная полиграфия</h5></a>
          <h2>Наружная реклама</h2>
        {{/ifeq}}
        {{#ifeq data.types.0.tag 'wide'}}
          <a href="billboard"><h5>&#8617; Размещение на щитах</h5></a>
          <a href="outdoor"><h5>&#8617; Наружная реклама</h5></a>
          <a href="quick"><h5>&#8617; Оперативная полиграфия</h5></a>
          <h2>Широкоформатная печать</h2>
        {{/ifeq}}
        {{#ifeq data.types.0.tag 'quick'}}
          <a href="billboard"><h5>&#8617; Размещение на щитах</h5></a>
          <a href="outdoor"><h5>&#8617; Наружная реклама</h5></a>
          <a href="wide"><h5>&#8617; Широкоформатная печать</h5></a>
          <h2>Оперативная полиграфия</h2>
        {{/ifeq}}
      </div>
      {{#each data.types}}
        <div class="row" style="padding-bottom: 30px">
          <div class="col-sm-12 col-md-8 col-xs-12">
          {{#ifeq tag 'billboard'}}
          {{else}}
            <a href="#{{name}}" name="{{name}}" style="text-decoration: none"><h3 id="{{name}}">{{name}}</h3></a>
          {{/ifeq}}  
            <table class="table">
              {{#each formulas}}
                <tr><td>{{name}}</td><td>{{result}}</td></tr>
              {{/each}}
            </table>
            <p>
              {{{text}}}
            </p>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm">
            <div class="fotorama"
                 data-width="100%"
                 data-maxheight="100%"
                 data-fit="cover"
                 data-loop="true"
                 data-nav="false">
              {{#each images}}
                <img src="{{url}}">
              {{/each}}
            </div>
          </div>
        </div>  
      {{/each}}
    </div>  
  </div>
 </div> 
