.auth-box-brand
	if Array.isArray(logo)
		a(href='/').auth-box-logo: img(src=logo[0], width=logo[1], height=logo[2], alt=brand)
	else if logo
		a(href='/').auth-box-logo: img(src=logo, alt=brand)
	else
		a(href='/').auth-box-logo: img(src='/keystone/images/logo.png', width=160, alt=brand)