extends ../layout/auth

block content
	h1.sr-only Выйти
	.auth-box
		.auth-box-col
			include ../includes/auth-brand
			
		.auth-box-col
			p.lead Вы вышли
			a(href='/').btn.btn-primary Главная
			a(href='/keystone/signin').btn.btn-link Войти обратно
