/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
	background-color: #222;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100%;
  /*margin-bottom: 100px;*/
}

body {
    /*padding-top: 50px; /!* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. *!/*/
}

p {
	color: white; 
}

h1, h2, h3, h4, h5, h6 {
	color: #ffb715;
}

.img-hover:hover {
    opacity: 0.7;
}

.table>tbody>tr>td {
  color: white;
  border-top: none;
}
/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */ 

footer {
  background-color: #ffffff;
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 170px;
  padding-top: 40px;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
    header.carousel .carousel {
        height: 70%;
    }
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}
.navbar-inverse {
	border: none;
}

.breadcrumb {
  background-color: #222;
}

.breadcrumb>li {
  color: #ffffff;
}

.page-header {
  border-bottom: none;
}

.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 120px;
  margin-bottom: 20px;
}

.bs-docs-sidebar .nav>li>a {
  color: #ffb715;
  border-left: 1px solid transparent;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
}

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #ffffff;
}

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 700;
  color: #ffffff;
}

.fixed {
  position: fixed;
}
