include ../mixins/flashMessages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

		title= title

		//- Component Stylesheets
		link(rel="stylesheet", href="/keystone/js/lib/select2/select2-3.3.2.css")
		link(rel="stylesheet", href="/keystone/js/lib/pikaday/pikaday-1.1.0.css")

		//- Keystone Stylesheet
		link(rel="stylesheet", href="/keystone/styles/keystone.min.css")
		block css

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		block head

	body(id='page-' + page)
		#wrap
			nav(role='navigation')#header.navbar.navbar-default.navbar-static-top: .container
				a(href=backUrl).navbar-backtobrand-trigger.hidden-xs: span.ion-arrow-left-c
				.navbar-backtobrand-message Назад, к сайту
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-headernav-collapse')
						span.sr-only Toggle section navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(href='/keystone', class=(section == 'home' ? 'active' : null)).navbar-brand= "Начало"
				.collapse.navbar-collapse.navbar-headernav-collapse
					if signout
						ul.nav.navbar-nav.navbar-right
							li.divider
							li: a(href=signout).signout Выйти
					ul.nav.navbar-nav
						each navSection in nav.sections
							if navSection.lists[0].external
								- path = navSection.lists[0].path
							else
								- path = '/keystone/' + navSection.lists[0].path

							li(class=section.key == navSection.key ? 'active' : null): a(href=path)= navSection.label
			if section.lists && section.lists.length > 1
				nav(role='navigation')#section-nav.navbar.navbar-default.navbar-static-top: .container
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-sectionnav-collapse')
							span.sr-only Toggle list navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						.navbar-brand.visible-xs
							=section.label
							if section.label != list.label
								| : #{list.label}
					.collapse.navbar-collapse.navbar-sectionnav-collapse
						ul.nav.navbar-nav
							each navList in section.lists
								if navList.external
									- path = navList.path
								else
									- path = '/keystone/' + navList.path
									
								li(class=navList.key == list.key ? 'active' : null): a(href=path)= navList.label
			#body: .container
				block intro
				+flash-messages(messages)
				block content

		#footer: .container
			p
				| Поддержка &mdash; <a href="mailto:sasha.kharkov@gmail.com" target="_blank">Александр Харьков</a>, +7 920 999-71-02.
				if User && user
					|  Пользователь &mdash; 
					a(href='/keystone/' + User.path + '/' + user.id)= User.getDocumentName(user)
					| .

		//- Common
		script(src="/keystone/js/lib/underscore/underscore-1.5.1.min.js")
		script(src="/keystone/js/lib/jquery/jquery-1.10.2.min.js")
		script(src="/keystone/js/lib/async/async.js")

		//- Bootstrap Components
		script(src='/keystone/js/lib/bootstrap/collapse.js')
		script(src='/keystone/js/lib/bootstrap/dropdown.js')
		script(src='/keystone/js/lib/bootstrap/tooltip.js')
		script(src='/keystone/js/lib/bootstrap/button.js')

		//- Other Components
		script(src="/keystone/js/lib/moment/moment-1.7.2.min.js")
		script(src="/keystone/js/lib/move/move-0.1.1.min.js")
		script(src="/keystone/js/lib/select2/select2-3.3.2.min.js")
		script(src="/keystone/js/lib/pikaday/pikaday-1.1.0.js")
		script(src="/keystone/js/lib/pikaday/pikaday.jquery-1.1.0.js")
		script(src="/keystone/js/lib/jquery-placeholder-shim/jquery-placeholder-shim.js")
		script(src="/keystone/js/lib/tinymce/tinymce.min.js")
		script(src="/keystone/js/lib/codemirror/codemirror-compressed.js")
		
		//- New React App and Components
		script(src="/keystone/build/js/app.js")

		//- App
		script.
			var Keystone = {};
			Keystone.csrf = function(obj) {
				obj['#{csrf_token_key}'] = "#{csrf_token_value}";
				return obj;
			};
			Keystone.csrf.key = "#{csrf_token_key}";
			Keystone.csrf.value = "#{csrf_token_value}";
			Keystone.csrf.query = "!{csrf_query}";
		if cloudinary
			script(src='/keystone/js/lib/jqueryfileupload/vendor/jquery.ui.widget.js')
			script(src='/keystone/js/lib/jqueryfileupload/jquery.iframe-transport.js')
			script(src='/keystone/js/lib/jqueryfileupload/jquery.fileupload.js')
			script(src='/keystone/js/lib/cloudinary/jquery.cloudinary.js')
			| !{cloudinary_js_config}
			script.
				Keystone.cloudinary = {
					cloud_name: "#{cloudinary.cloud_name}",
					api_key: "#{cloudinary.api_key}",
					timestamp: "#{cloudinary.timestamp}",
					signature: "#{cloudinary.signature}"
				}

		//- Keystone UI
		script(src="/keystone/js/common/plugins.js")
		script(src="/keystone/js/common/ui.js")
		script(src="/keystone/js/common/ui-alt-text.js")
		script(src="/keystone/js/common/ui-sortable.js")
		
		//- Page Scripts
		block js

		//- Google Analytics
		if env == 'production' && ga.property && ga.domain
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', '#{ga.property}', '#{ga.domain}');
				ga('send', 'pageview');
